.product-desktop-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 10%;
}
.product-desktop-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.product-desktop-image img{
    width: 70%;
    border-radius: 10px;
    min-height: 200px;
}
.product-desktop-info {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 700px;
}
.product-desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.product-desktop-header-text {
    font-size: 12px;
    color: gray;
    margin: 0 10px 0 0;
}
.product-desktop-header-separator{
    height: 5px;
    width: 5px;
    background-color: gray;
    margin: 0 10px 0 0;
    border-radius: 10px;
}
.product-desktop-title {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0;
}
.product-desktop-price {
    font-weight: bold;
    font-size: 17px;
    color: #ff4e4e;
}
.product-desktop-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.product-desktop-payment-cards{

}
.product-desktop-payment-cards img{
    width: 200px;
}
.product-desktop-payment-market{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product-desktop-payment-market img{
    width: 70px;
}
.product-desktop-payment-market-text{
    font-size: 10px;
    margin: 0 8px 0 0;
}
.product-desktop-description {
    font-weight: 500;
    margin: 20px 0 70px 0;
    border-top: 1px solid lightgray;
    padding: 15px 0 0 0;
}
.product-desktop-buttons {
    border-top: 1px solid lightgray;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-desktop-add-button {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: indianred;
    color: white;
    padding: 15px 0px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    width: 50%;
}
.product-desktop-add-button:hover{
    cursor: pointer;
}
.product-desktop-add-button-text {
    font-weight: bold;
    margin: 0 0 0 30px;
}
.product-desktop-add-button-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0px;
}
.product-desktop-add-button-icon .material-icons{

}
.product-desktop-whatsapp-button {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 15px 0px;
    background-color: lightgray;
    border-radius: 5px;
}
.product-desktop-whatsapp-button:hover{
    cursor: pointer;
}
.product-desktop-whatsapp-button img {
    height: 25px;
    margin: 0 0 0 30px;
}
.product-desktop-whatsapp-button-text {
    margin: 0 30px 0 10px;
    font-size: 15px;
    font-weight: 600;
}
